/* color palette: 41436A, 984063,F64668,FE9677 */
#nav_bar{
    font-family:'lato';
    
    display: flex;
    justify-content: space-between;
    justify-content: right;
    padding-right: 4%;
    padding-top: 30px;
    font-weight: bold;
    justify-items: right;
    color: white; 
    position: fixed;
    right: 3%;
    top: 4%;
}
body{
    background-color: #212022;
    height: 150vh;
}
/* p { font-family: Jura; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } */
.nav_elements{
    padding-right: 30px;
    font-size: 28px;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: white;
}
#home{
width:100%;
margin-top: 5fr;
position: relative;
top: 50%;

}
#about{
    width:100%;
    position: relative;
    top: 50%;
}
#contact{
    width:100%;
    position: relative;
    top: 50%;
}
#projects
{
    width:100%;
    position: relative;
    top: 50%;
}
#name{
    font-family: 'lato';
    font-size: 78px;
    font-weight:400;
    color: white;
    margin-left:5%;
    margin-top: 14%;
    margin-bottom: 4%;
    position: fixed;
    top: 10%;
}
#designation{
    font-family: 'lato';
    font-size: 48px;
    font-weight:200;
    color: white;
    margin-left:4% ;
    position: fixed;
    top: 54%;
}
hr{
    color: white;
}
#bottom_logos{
    /* background-color: white; */
    height: 300px;
    width: 100%;
    position: relative;
    top: 60%;
}
#linkedin_logo{
    height: 30px;
    width: 30px;
}